<html>
  <head>
        <link rel="stylesheet" type="text/css" href="./style.css">
        <link href='https://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
  </head>
  <body>

<div class="sewing-image">

  <div class="content table">

    <div class="table-cell left">
      <h1>The Digital <p> Seamstress</h1>
    </div>

    <div class="table-cell right">
      <h2>Menue1</h2>
      <h2>Menue2</h2>
    </div>

</div>
</div>

<br>


    <form action='/selection' method="GET">

      <p>Stoffart<br>

        <%

        hash={}
        @schnittmusterarchiv.each do |schnittmuster|
          hash[schnittmuster.stoff]=1
        end


        hash.keys.each do |stoff|
        %>

      <input type="radio" name="stoffselektion" value="<%= stoff %>" checked> <%= stoff %> <br>

      <% end %>



      </p>
    <br>

      <p>Länge<br>
          <%
          hash={}
        @schnittmusterarchiv.each do |schnittmuster|
          hash[schnittmuster.laenge]=1
        end

        hash.keys.each do |laenge|
        %>
        <input type="radio" name="laengenselektion" value="<%= laenge %>" checked> <%= laenge %> <br>

      <% end %>
      </p>





        <button type="submit"> Select </button>

    </form>


    <section class="tabellenbereich">



     <table>
       <tr>
         <th>Schnittmuster</th>
         <th>Stoff</th>
         <th>Länge</th>
         <th>Getestet?</th>
         <th>Aktion</th>
       </tr>

    <% @schnittmusteranzeige.each do |item| %>
    <tr
    <%= if item.done=="ja"
    "bgcolor=\"#4CC552\""
    end %>
    >
      <td><%= item.name %></td>
      <td><%= item.stoff %></td>
      <td><%= item.laenge %></td>
      <td><%= item.done %></td>
      <td><a href="/delete/<%= @schnittmusteranzeige.index(item) %>">Löschen</a></td>
    </tr>

    <% end %>


     </table>

     <form action='/' method="POST">
       <input type="text" name="name">
       <input type="text" name="stoff">
       <input type="number" min="0" step="any" name="laenge">
       <select name="done">
         <option value="ja">ja</option>
         <option value="nein">nein</option>
       </select>
       <button type="submit"> Add </button>
     </form>

</section>


    <section heigth=100px>
    <a href="/undo">Löschen rückgängig</a>
    </section>



  </body>
</html>
